<form class="row g-3 needs-validation" novalidate>
  <div class="position-center">
    <h1>REGISTRO</h1>
  </div>
  <div class="col-md-4 position-relative">
    <label for="date" class="form-label">Data</label>
    <input type="date" class="form-control" id="date" required>
    <div class="valid-tooltip">Looks good!</div>
  </div>
  <div class="col-md-4 position-relative">
    <label for="numeroTalao" class="form-label">Número do Talão</label>
    <input type="text" class="form-control" id="numeroTalao" required>
    <div class="valid-tooltip">Looks good!</div>
  </div>
  <div class="col-md-4 position-relative">
    <label for="origem" class="form-label">Origem</label>
    <input type="text" class="form-control" id="origem" required>
    <div class="valid-tooltip">Looks good!</div>
  </div>
  <div class="col-md-4 position-relative">
    <label for="valor" class="form-label">Valor</label>
    <input type="number" class="form-control" id="valor" required>
    <div class="valid-tooltip">Looks good!</div>
  </div>
  <div class="col-md-4 position-relative">
    <label for="dirigente" class="form-label">Dirigente</label>
    <input type="text" class="form-control" id="dirigente" required>
    <div class="valid-tooltip">Looks good!</div>
  </div>
  <div class="col-md-4 position-relative">
    <label for="conferente1" class="form-label">Conferente 1</label>
    <input type="text" class="form-control" id="conferente1" required>
    <div class="valid-tooltip">Looks good!</div>
  </div>
  <div class="col-md-4 position-relative">
    <label for="conferente2" class="form-label">Conferente 2</label>
    <input type="text" class="form-control" id="conferente2" required>
    <div class="valid-tooltip">Looks good!</div>
  </div>
  <div class="col-md-4 position-relative">
    <label for="obs" class="form-label">OBS.:</label>
    <input type="text" class="form-control" id="obs" required>
    <div class="valid-tooltip">Looks good!</div>
  </div>

    <button class="btn btn-primary" type="submit">Registrar</button>
    <button class="btn btn-danger" type="button" (Onclick)="clearForm()">Limpar</button>
</form>
